@font-face { /* Définition d'une nouvelle police nommée Milkshake*/
    font-family: 'Milkshake';
    font-display: swap;
    src: url('Milkshake.otf');
    src: url('Milkshake.otf?#iefix') format('embedded-opentype'),
         url('Milkshake.ttf') format('truetype')
}


@media (min-width: 300px) and (max-width: 767px) {
  
    /* CSS */
   
.navbar-expand-sm
{
    color:aliceblue;
    font-size: 1.2em;
    background-color: rgb(26, 23, 23);

}

  
}


    


  @media (min-width: 640px) and (max-width: 1024px) and (orientation: landscape) {
  
    /* CSS */
    .navbar-expand-sm
{
    color:aliceblue;
    font-size: 1.2em;
    background-color:transparent;

}
  }

  
.navbar {
    font-family: 'Milkshake', Arial, serif;
    color:aliceblue;
    font-size: 1.2em;
   
}
.navbar-light .navbar-text 
{
    color:aliceblue;
    font-size: 1.2em;
    text-decoration: none; 
}

.navbar-light .navbar-text:hover
{
    color:aliceblue;
    font-size: 1.2em;
    text-decoration: none; 
    transition: all 300ms;
    transform: scale(1.07);
}

.navbar-light .navbar-nav .nav-link
{
    color:aliceblue;
    font-size: 1.2em;
    text-decoration: none; 
    
}

.navbar .navbar-default{
    background-color: transparent;
}
.headerwebsite {
/* background:url('../img/1947484-min.jpg') no-repeat center center;
height: 100%;
min-height: 964px; */


    height: 100%;
    width: 100%;
    /* height: 100vh; */
    background: url('../img/1947484-min.webp') top center;
    background-size: cover;
    /* position: relative; */
    padding-bottom: 70px;
    background-color: #312d2d;
    /*min-height: 1190px;*/
}

/*@media (max-width: 640px){*/

/*    .headerwebsite {*/
/*        min-height: 2189px;*/
/*    }*/
/*}*/
.contact{
    background: linear-gradient(
        0.25turn
        , #0d3b4e, #6b99c7, #a0c1ec);
    min-height: 100vh;
    color: aliceblue;
    font-size: 1.7em;
    padding-top: 70px;
    padding-bottom: 70px;
}
.haut{
    /*height: 100vh;*/
    margin-top: 73px;
}


.cv {
    min-height: 100vh;

}

.bg-belge{
    background-color: beige;

}
.console {
    border-left: solid 5px #f7f5f3;
    border-right: solid 5px #f7f5f3;
    border-bottom: solid 5px #f7f5f3;
    border-top: solid 27px #f7f5f3;
    background-color: #000408;
  
    border-radius: 0.1vw;
    /* width: 55vw; */
    /* min-width: 89%; */
    min-height: 356px;
    /* height: 100%; */
    position: relative;
    /* margin-top: 19%; */
    /* margin-left: 5%; */
    color: aliceblue;
    font-size: 0.7em;
 
}

.title {
    color: black;
    font-size: 1.6em;
    bottom: 27px;
    position: relative;
}

.text {
    padding: 1px 7px;
    color: aliceblue;
    font-size: 1.2em;
    position: relative;
    bottom: 19px;
}

.intro {

    color: aliceblue;
}


.intro span:not(.fade){
    opacity: 0;
    color: aliceblue;
}

.intro span{
    transition: all .4s;
        color: aliceblue;
    
    }



.button {
    float: right;
    position: relative;
}

.w-75  {
width: 75%!important;
}
.w-70  {
    width: 70%!important;
}
 .w-60 {
 width: 60%!important;
}
.w-40 {
    width: 40%!important;
   }
   .w-90 {
    width: 90%!important;
   }
.w-80 {
    width: 80%!important;
   }
   .w-85 {
    width: 85%!important;
   }
   
   .hrcv{
       background-color: #007bff;
       height: 3px;
   }

   .rounded {
    border-radius: 10.25rem!important;
}

.about-img{
    text-align: center;
    padding: 7px;
}

.bg-nav-dark {

    background-color: rgb(26, 23, 23) !important;
}


.card-body {
    min-height: 237px;
}

.padancre {
    padding-top: 70px;
    padding-bottom: 70px;
}

nav a {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 800;
    color: aliceblue;
    overflow: hidden;
    background: linear-gradient(to right, royalblue, rgb(182, 182, 230) 50%, aliceblue 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none; 
    padding-left: 1px;
    padding-right: 5px;
  }
  nav a:hover {
    background-position: 0 100%;
  }

  .sociaux{

    float: right;
  }

  .buttonsociaux{

    /* width: 40px;
    height: 40px; */
    /* padding: 4px 4px 4px 7px; */
    /* background-color: #343a40;
    border-color: #343a40;
    color: #fff; */
    font-size: 32px;
    border-radius: 20px;
  }
  .linkdin{

    background-color: #007bff;
    font-size: 39px;
    color: #fff;
  }

  .github{
    background-color: #fff;
    color: #343a40;
    font-size: 40px;
  }
  .github-cv {
    background-color: transparent;
    color: #343a40;
    font-size: 34px;
}

textarea{
    resize: none;
}
.close-windows{
    font-size: 19px;
    color: black;
}
.maximize{
    font-size: 16px;
    color: black;
    padding: 5px;
}
.minimize{
    font-size: 16px;
    color: black;
} 

.overlay {
    position: fixed;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 95px;
    background: black;
    z-index: 10000;
    border-left: solid 5px #f7f5f3;
    border-right: solid 5px #f7f5f3;
    border-bottom: solid 5px #f7f5f3;
    border-top: solid 27px #f7f5f3;
    background-color: #000408;
    border-radius: 0.1vw;
    min-height: 356px;
    color: aliceblue;
    font-size: 0.7em;
  }
div[id^="projet"] {
    opacity: 0;
}